.navbar-inverse {
  background-color: #ffffff;
  border-color: #ffffff;
}
body{
  font-size: 15px;
  text-align: center;
  color: #828282;
}

.navbar-inverse .navbar-nav>li>a {
    color: #828282;
}
p.a{
  font-size: 15px;
}
